#stops{
    /* position: absolute */
    text-align: center
}
span{
    gap: 40px;
}
#playrs{
    grid-template-columns:2fr 2fr;
    
    /* justify-content: baseline; */
    display: grid;
}
img{ 
   height: 0px;
   width: 0px;}
#name0{
    border: groove 4px transparent;
    border-radius: 40px;
    
}
#name1{
    border: groove 4px transparent;
    border-radius: 40px;
}

h1{
    justify-content: center;
    text-align: center;
}
#board{
    margin-left: 100px;
    margin-right: 100px;
    min-height: 100px;
    text-align: center;
   font-size: xx-large;
display: grid;
justify-content: center;
grid-template-columns:  auto auto auto auto;
gap: 20px;
}

.card{
    margin-top: 20px;
    min-height: 100px;
    max-height: 100px;
    max-width: 100px;
    min-width: 100px;
justify-content: center;
    background-color: rgb(148, 180, 88);
    border: 10px;border-style: double; color: black;
    border-radius: 4px;
    border-color: green;
    display: grid;
    text-align: center;
    text-transform: none;
    color: transparent;
    
}

.card:hover  {  background-color: rgb(14, 169, 216);
    border: double 10px rgb(4, 209, 55);
    box-shadow: 4px 4px 4px 4px black;;
    

    /* background-image: url(https://sites.google.com/site/all18in/_/rsrc/1401806935314/wallpapers/Amazing%20Beach.jpg?height=355&width=400); */
    
    }
    .open{
        border-color: chartreuse;
   box-shadow: 0px 0px 0px 0px;

    }
  

  
