#stops{
    /* position: absolute */
    text-align: center
}
span{
    gap: 40px;
}
#playrs{
    grid-template-columns:2fr 2fr;
    
    display: grid;
}
img{ 
   height: 0px;
   width: 0px;}


h1{
    justify-content: center;
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 0px 10px #35e709;

}
#board{
    color: rgb(53 231 9);
    text-shadow: black 4px 4px 4px 4px;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 100px;
    text-align: center;
   font-size: xx-large;
display: grid;
justify-content: center;
gap: 10px;

}
.textend{
    font-size: 100px;
    box-shadow: 0px 0px 4px 10px black;
    background-color: rgb(0 0 0/50%);
}


.card{
    margin-top: 20px;
    min-height: 100px;
    max-height: 100px;
    max-width: 100px;
    min-width: 100px;
justify-content: center;
    background-color: rgb(148, 180, 88);
    border: 10px;border-style: double; color: black;
    border-radius: 7px;
    border-color: green;
    display: grid;
    text-align: center;
    text-transform: none;
    color: transparent;
    
}

.card:hover  {  background-color: rgb(53 231 9/40%);
    border: double 10px rgb(4, 209, 55);
    box-shadow: 4px 4px 4px 4px black;;
    

    /* background-image: url(https://sites.google.com/site/all18in/_/rsrc/1401806935314/wallpapers/Amazing%20Beach.jpg?height=355&width=400); */
   
    }
    .open{
        border-color: chartreuse;
   box-shadow: 0px 0px 0px 0px;

    }
    .userplay{
background-color: rgb(53 231 9/50%); 
border: groove 4px rgb(53 231 9);
border-radius: 40px; 

    }
    .notplay{
        border-color: transparent;
        background-color:transparent;
    }
  #submit:hover{
      box-shadow: 0px 0px 4px 4px rgb(53 231 9);
    color: black;
    border-collapse:  10px groove; 
    border-radius: 15px;
    background-color: grey;
  }
  input{
    -webkit-appearance: none;
    border-radius: 10px;
    background: rgb(53 231 9/80%);
    border: 5px black double;
  }
  #imgbody{
      display: flex;
      justify-content: center;
      height: 100%;
      width: auto;
  }




  
